@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,900');

body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4em;
  color: #333;
  background: #eee;
}

h1, h2, h3 {
  margin: 0.5em 0 1em 0;
  font-size: 3em;
  font-weight: 700;
  background: linear-gradient(to right, yellow, red, blue);
  text-color: #777777;
}

.wrapper {
  width: 80%;
  padding: 4%;
  margin: 20px auto;
  background: #fff;
}
